<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= feed.title %></title>

	<link rel="alternate" type="application/rss+xml" title="RSS" href="rss.xml" />
	<link rel="alternate" type="application/atom+xml" title="Atom" href="atom.xml" />
</head>
<body>
	<h1><%= feed.title %></h1>

	<p>
		<a href="rss.xml">RSS feed</a>
		&middot;
		<a href="atom.xml">ATOM feed</a>
	</p>

	<h2>Items</h2>

	<ul>
	<% items.forEach(function (item) { %>
		<li><%= item.title %>
		<% if (item.enclosures) { %>
		<% item.enclosures.forEach(function (enclosure) { %>
		<br><a href="<%= enclosure.url %>" target="_blank"><%= enclosure.url %></a>
		<% }); %>
		<% } %>
		</li>
	<% }); %>
	</ul>

	<footer>
		<p>
			<a href="..">Back to channels list</a>
		</p>
	</footer>
</body>
</html>